.form-container{
    position:relative;
    margin-top: 27%;
    padding:30px;
    background-color:#fff;
    border-radius:10px;
    width:130%;
    margin-left:-20%;
    box-shadow: 0px 0px 10px 0px #000;
}
input[type="text"], input[type="password"] {
    width: 100%;
}
a:hover {
    color:cadetblue;
}
.bg{
    background:url('../resources/common/images/login.jpg') no-repeat;
    width:100%;
    height:100%;
    background-size: 100% 100%;
    position: relative;
}