<div id="particles-js"></div>
<div id="page-root">
<div class="w3-container w3-teal">
  <h1>Sornambigai</h1>
</div>
<form id="formContainer">
  <div class="w3-card-4">
  <div  class="w3-container form-group" id="user-name-container" >
    <label>User Name</label><br>
    <input type="text" class="w3-input" name = "userName" [placeholder]="Username_p" (focusout)="changeOutUFocus()" (focus)="changeInUFocus()" [(ngModel)]="userName">
  </div>
  <div  class="w3-container form-group" id="user-name-container">
    <label>Password</label><br>
    <input type="password" class="w3-input" (focusout)="changeOutPFocus()"(focus)="changeInPFocus()"[placeholder]="Password_p" name = "passWord" [(ngModel)]="passWord">
  </div>
  <div class="w3-container">
    <input type="submit" class="w3-btn w3-round-xlarge  w3-black" (click)="onClickSubmit($event)">
  </div>
</div>

</form>