<section class="container-fluid bg">
  <section class="row justify-content-center">
    <section class="col-12 col-sm-6 col-md-3">
      <div *ngIf="!forgetPasswordflag">
        <form class="form-container">
          <button style="margin-bottom:7px;margin-top:-10px;color:#000" mat-icon-button *ngIf="signingUp"
            (click)="signingUp = false">
            <mat-icon>keyboard_backspace</mat-icon> Back
          </button>
          <div class="form-group">
            <mat-form-field class="col-sm-12">
              <input type="email" matInput aria-label="Email ID" placeholder="Email ID" class="form-control"
                name="userName" [(ngModel)]="emailId" required>
            </mat-form-field>
          </div>
          <div *ngIf="signingUp" class="form-group" id="user-name-container">
            <mat-form-field class="col-sm-12">
              <input type="text" matInput aria-label="User Name" placeholder="User Name" class="form-control"
                name="passWord" [(ngModel)]="userName" required>
            </mat-form-field>
          </div>
          <div class="form-group" id="user-name-container">
            <mat-form-field class="col-sm-12">
              <input type="password" matInput aria-label="Password" placeholder="Password" class="form-control"
                name="passWord" [(ngModel)]="passWord" required>
            </mat-form-field>
            <div *ngIf="signingUp">
              <mat-form-field class="col-sm-12">
                <input type="password" matInput aria-label="Confirm Password" placeholder="Confirm Password"
                  class="form-control" name="retypepassWord" [(ngModel)]="retypepassWord" required>
              </mat-form-field>
            </div>
          </div>
          <input type="submit" *ngIf="!signingUp" class="btn btn-primary btn-block navColor"
            (click)="onClickSubmit($event)" value="Sign In">
          <a *ngIf="!signingUp" style="float:right;" (click)="forgetPassword()">Forgot Password?</a>
          <mat-checkbox *ngIf="signingUp && !adminExist" name="isAdminUserName" [(ngModel)]="isAdminUser">Admin User
          </mat-checkbox>
          <input type="button" *ngIf="!signingUp" class="btn btn-block btn-primary navColor" (click)="signingUp = true"
            value="Sign Up">
          <input *ngIf="signingUp" type="button" class="btn btn-block btn-primary navColor" (click)="addUser()"
            value="Sign Up">
        </form>
      </div>

      <div *ngIf="forgetPasswordflag">
        <form class="form-container">
          <button style="margin-bottom:7px;margin-top:-10px;color:#000" mat-icon-button
            (click)="forgetPasswordflag = false">
            <mat-icon>keyboard_backspace</mat-icon> Back
          </button>
          <div class="form-group">
            <mat-form-field class="col-sm-12">
              <input type="email" matInput aria-label="Email Id" placeholder="Email ID" class="form-control"
                name="userName" [(ngModel)]="emailId" required>
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field class="col-sm-12">
              <input type="password" matInput aria-label="New Password" placeholder="New Password" class="form-control"
                name="passWord" [(ngModel)]="passWord" required>
            </mat-form-field>
          </div>
          <div class="form-group" id="user-name-container">
            <mat-form-field class="col-sm-12">
              <input type="text" matInput aria-label="Admin Email Id" placeholder="Admin Email Id" class="form-control"
                name="adminpassWord" [(ngModel)]="adminUserName" required>
            </mat-form-field>
          </div>
          <div class="form-group" id="user-name-container">
            <mat-form-field class="col-sm-12">
              <input type="password" matInput aria-label="Admin Password" placeholder="Admin Password"
                class="form-control" name="adminpassWord" [(ngModel)]="adminPassWord" required>
            </mat-form-field>
          </div>
          <input type="submit" class="btn btn-primary btn-block navColor" (click)="onForgetPasswordSubmit($event)"
            value="Submit">
        </form>
      </div>

    </section>
  </section>
</section>