<div>
  <table mat-table matSort [dataSource]="data.dataSource? data.dataSource: []" class="mat-elevation-z8">
    <ng-container matColumnDef="itemId">
      <th mat-header-cell *matHeaderCellDef> Item Id</th>
      <td mat-cell *matCellDef="let transaction"> {{transaction.itemId}} </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <ng-container matColumnDef="item">
      <th mat-header-cell *matHeaderCellDef> Item Name</th>
      <td mat-cell *matCellDef="let transaction"> {{transaction.itemName}} </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="itemCategory">
      <th mat-header-cell *matHeaderCellDef> Item Category</th>
      <td mat-cell *matCellDef="let transaction"> {{getItemCategoryName(transaction.itemCategoryId)}} </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="costPerGram">
      <th mat-header-cell *matHeaderCellDef md-sort-header> Cost / Gram </th>
      <td mat-cell *matCellDef="let transaction"> {{ transaction.pricePerGramOnPurchase | customCurrencyPipe}}
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="gramsPurchased">
      <th mat-header-cell md-sort-header *matHeaderCellDef>Grams Purchased</th>
      <td mat-cell *matCellDef="let transaction"> {{transaction.gramsPurchased}} </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <ng-container matColumnDef="wastage">
      <th mat-header-cell md-sort-header *matHeaderCellDef>Wastage / Piece (Mils)</th>
      <td mat-cell *matCellDef="let transaction"> {{transaction.wastage}} </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="makingCharge">
      <th mat-header-cell md-sort-header *matHeaderCellDef>Making Charge / Piece</th>
      <td mat-cell *matCellDef="let transaction"> {{ transaction.makingCharge | customCurrencyPipe}} </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="quantity">
      <th mat-header-cell md-sort-header *matHeaderCellDef>No of Pieces</th>
      <td mat-cell *matCellDef="let transaction"> {{transaction.quantity}} </td>
      <td mat-footer-cell *matFooterCellDef>Total</td>
    </ng-container>

    <ng-container matColumnDef="itemAmount">
      <th mat-header-cell md-sort-header *matHeaderCellDef>Price</th>
      <td mat-cell *matCellDef="let transaction">{{transaction.itemAmount | customCurrencyPipe}}</td>
      <td mat-footer-cell *matFooterCellDef>{{  data.totalAmount | customCurrencyPipe}}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
  </table>
</div>