<div class="pageRoot">
    <div class="addPanel">
        <section class="container-fluid">
            <form class="form-container" name="addJewellForm">
                <mat-form-field class="col-sm-4">
                    <mat-select name="itemCategory" [formControl]="itemCategoryFormControl" [(value)]="itemCategoryId">
                        <mat-option *ngFor="let itemCategory of itemCategoryTable"
                            [value]="itemCategory.itemCategoryId">
                            {{itemCategory.itemCategoryName}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="col-sm-4">
                    <input matInput placeholder="Item Name" aria-label="Item Name" [matAutocomplete]="auto"
                        [formControl]="itemControl" required>
                    <mat-autocomplete #auto="matAutocomplete" [displayWith]="getDisplayName.bind(this)">
                        <mat-option *ngFor="let item of filteredItems | async" [value]="item.itemId">
                            <span>{{item.itemName}}</span>
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
                <mat-form-field class="col-sm-4">
                    <input style="color:black" type="text" name="itemPriceName" matInput placeholder="Price / Gram"
                        aria-label="Price / Gram" [ngModel]="itemPrice | customCurrencyPipe" disabled>
                </mat-form-field>
                <mat-form-field class="col-sm-4">
                    <input type="number" min="0" style="text-align: right;" name="gramsPurchasedName" matInput
                        placeholder="Grams Needed" aria-label="Grams" [(ngModel)]="gramsPurchased" required>
                </mat-form-field>
                <mat-form-field class="col-sm-4">
                    <input type="number" min="0" style="text-align: right;" name="wastageName" matInput
                        placeholder="Wastage in Milligrams" aria-label="Wastage in Milligrams" [(ngModel)]="wastage">
                </mat-form-field>
                <mat-form-field class="col-sm-4">
                    <input type="number" min="0" style="text-align: right;" name="makingCharge" matInput
                        placeholder="Making Charge" aria-label="Making Charge" [(ngModel)]="makingCharge">
                </mat-form-field>
                <mat-form-field class="col-sm-6">
                    <input style="color:black" type="number" min="0" name="quantityNeeded" matInput
                        placeholder="No of Pieces" aria-label="Quantity" [(ngModel)]="quantity" required>
                </mat-form-field>
                <!-- <mat-form-field class="col-sm-6">
                    <input type="text" name="customerName" matInput placeholder="Customer Name"
                        aria-label="Customer Name" [(ngModel)]="customerName" required>
                </mat-form-field> -->
                <div class="col-sm-12" style="position: relative;;margin-bottom: 12px;">
                    <button style="margin-left: 45%;" mat-raised-button color="primary"
                        (click)="checkValidationAndAdd()" [disabled]="isEditDisabled">Add Item to Bill</button>
                </div>
            </form>
        </section>
    </div>
    <div class="gridButtonContainer">
        <button mat-raised-button (click)="expandGrid()">
            <mat-icon>open_with</mat-icon>Expand
        </button>
        <button *ngIf="isEditDisabled" mat-raised-button class="gridButton" color="primary" (click)="printBill()">
            <mat-icon>arrow_downward</mat-icon>Download Bill
        </button>
        <button class="gridButton closeButtonSuccess" (click)="closeBill()" mat-raised-button
            [disabled]="isEditDisabled">
            <mat-icon>assignment_turned_in</mat-icon>Close & Download Bill
        </button>
        <button class="gridButton" (click)="saveBill()" mat-raised-button color="primary" [disabled]="isEditDisabled">
            <mat-icon>save</mat-icon>Save Bill
        </button>
        <button class="gridButton" (click)="deleteBill()" mat-raised-button color="warn" [disabled]="isEditDisabled">
            <mat-icon>delete_forever</mat-icon>Discard Bill
        </button>
    </div>
    <div class="gridContainer">
        <table mat-table matSort [dataSource]="dataSource? dataSource: []" class="mat-elevation-z8">
            <ng-container matColumnDef="itemId">
                <th mat-header-cell *matHeaderCellDef> Item Id</th>
                <td mat-cell *matCellDef="let transaction"> {{transaction.itemId}} </td>
                <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>
            <ng-container matColumnDef="item">
                <th mat-header-cell *matHeaderCellDef> Item Name</th>
                <td mat-cell *matCellDef="let transaction"> {{transaction.itemName}} </td>
                <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>

            <ng-container matColumnDef="itemCategory">
                <th mat-header-cell *matHeaderCellDef> Item Category</th>
                <td mat-cell *matCellDef="let transaction"> {{getItemCategoryName(transaction.itemCategoryId)}} </td>
                <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>

            <ng-container matColumnDef="costPerGram">
                <th mat-header-cell style="text-align: right;" *matHeaderCellDef md-sort-header> Cost / Gram </th>
                <td mat-cell style="text-align: right;" *matCellDef="let transaction">
                    {{ transaction.pricePerGramOnPurchase | customCurrencyPipe}}
                </td>
                <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>

            <ng-container matColumnDef="gramsPurchased">
                <th mat-header-cell style="text-align: right;" md-sort-header *matHeaderCellDef>Grams Purchased</th>
                <td mat-cell style="text-align: right;" *matCellDef="let transaction"> {{transaction.gramsPurchased}}
                </td>
                <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>
            <ng-container matColumnDef="wastage">
                <th mat-header-cell style="text-align: right;" md-sort-header *matHeaderCellDef>Wastage / Piece (Mils)
                </th>
                <td mat-cell style="text-align: right;" *matCellDef="let transaction"> {{transaction.wastage}} </td>
                <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>

            <ng-container matColumnDef="makingCharge">
                <th mat-header-cell style="text-align: right;" md-sort-header *matHeaderCellDef>Making Charge / Piece
                </th>
                <td mat-cell style="text-align: right;" *matCellDef="let transaction">
                    {{ transaction.makingCharge | customCurrencyPipe}} </td>
                <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>

            <ng-container matColumnDef="quantity">
                <th mat-header-cell style="text-align: right;" md-sort-header *matHeaderCellDef>No Of Pieces</th>
                <td mat-cell style="text-align: right;" *matCellDef="let transaction"> {{transaction.quantity}} </td>
                <td mat-footer-cell style="text-align: right;" *matFooterCellDef>Total</td>
            </ng-container>

            <ng-container matColumnDef="itemAmount">
                <th mat-header-cell md-sort-header style="text-align: right;" *matHeaderCellDef>Price</th>
                <td mat-cell style="text-align: right;" *matCellDef="let transaction">
                    {{transaction.itemAmount | customCurrencyPipe}}</td>
                <td mat-footer-cell style="text-align: right;" *matFooterCellDef>
                    {{  getTotalCost() | customCurrencyPipe}}</td>
            </ng-container>
            <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell style="text-align: right;" *matCellDef="let transaction"><button
                        (click)="emitDeletedId(transaction.itemId, transaction.gramsPurchased)" mat-icon-button
                        [disabled]="isEditDisabled">
                        <mat-icon color="warn">delete_outline</mat-icon>
                    </button></td>
                <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
        </table>
    </div>
</div>