table {
    width:100%;
    position: relative;
    background-color:  palegoldenrod;
}
.footer-align {
    width: 97.5%;
    order: 3;
    margin-left: 16px;
    position: relative;
    top:40%;
    border-radius: 10px 10px 10px 10px;
}
.pageRoot {
  display: flex;
  flex-direction: column;
  max-width: max-content;
}
.pageRoot div:nth-child(2) {
  margin-left: auto;
}
.addPanel {
  border-radius: 20px;
  max-height: 265px;
  margin: 12px;
  overflow: auto;
  order: 1;
  top:5%;
  background-color:aliceblue;
}
.gridContainer {
  overflow: auto;
  max-height: 210px;
  min-height:210px;
  position: relative;
  border-radius: 10px;
  order: 3;
  margin: 12px;;
}
.gridButtonContainer {
  margin:0px 10px 0px 10px;
  position: relative;
  max-width: fit-content;
  float:left;
  order:2;
}

.gridButton {
  margin-left: 12px;
  text-overflow: ellipsis;
}

.closeButtonSuccess{
  background-color:rgb(44, 160, 44);
  color: #fff;
}

.mat-raised-button[disabled] {
  background-color: dimgrey;
  color:#fff;
}
/* width */
::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:#3f51b5;
    border-radius: 10px;
  }
  .poi:hover{
    cursor: pointer;
}
