<div class="pageRoot">
  <div class="search-hero">
    <input #filter class="form-control" type="text" name="search" placeholder="&#61442; Search for Customer or Bill Id">
  </div>
  <div class="gridContainer"
    #gridContainer 
  infiniteScroll
  (scrolled)="onScroll()"
  >
    <table mat-table matSort [dataSource]="dataSource? dataSource: []" class="mat-elevation-z8">
      <ng-container matColumnDef="billId">
        <th mat-header-cell *matHeaderCellDef>Bill Id</th>
        <td mat-cell *matCellDef="let transaction"> {{transaction.billId}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="billRegisterdDate">
        <th mat-header-cell *matHeaderCellDef>Saved / Closed Date</th>
        <td mat-cell *matCellDef="let transaction"> {{transaction.billRegisteredDate | date}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="customerName">
        <th mat-header-cell *matHeaderCellDef> Customer Name</th>
        <td mat-cell *matCellDef="let transaction"> {{transaction.customerName}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="cashierName">
        <th mat-header-cell *matHeaderCellDef> Cashier Name</th>
        <td mat-cell *matCellDef="let transaction"> {{transaction.cashierName}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="billAmount">
        <th mat-header-cell *matHeaderCellDef> Bill Amount</th>
        <td mat-cell *matCellDef="let transaction"> {{transaction.totalBillAmount | customCurrencyPipe }} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="billStatus">
        <th mat-header-cell *matHeaderCellDef md-sort-header>Bill Status</th>
        <td mat-cell *matCellDef="let transaction">
          {{ transaction.billStatus}}
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="openDetail(row)"></tr>
      <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
    </table>
  </div>
</div>