table {
    width: 100%;
    height:70%;
}
.pageRoot{
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.gridContainer {
    border-radius:10px;
    max-height: 490px;
    overflow:auto;
    width:100%;
    margin-top: 1%;
}
table {
    width: 100%;
}
tr:hover {
   cursor: pointer;
}

.search-hero {
  max-width: 100%;
  width: 100%;
  position: relative;
  margin-bottom: 20px;
  margin:auto;
}
.form-control {
  box-shadow: 0 10px 40px 0 #B0C1D9;
}

.form-control::placeholder  {
  font-family: FontAwesome;
}
