<section class="container-fluid bg">
  <section class="row justify-content-center">
    <section class="col-12 col-sm-6 col-md-3">
      <form class="form-container" [class.deleteColor]="exitingItemTab" name="addJewellForm">
        <div class="form-group">
          <mat-tab-group (selectedTabChange)="loadDisplayItems('')" mat-align-tabs="center" animationDuration="500ms"
            color="primary">
            <mat-tab>
              <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon">add_box</mat-icon>
                Add Item
              </ng-template>
              <div class="emptyDiv">

              </div>
              <mat-select class="form-control" name="itemCategory" [formControl]="itemCategoryFormControl"
                [(value)]="itemCategoryId">
                <mat-option *ngFor="let itemCategory of itemCategoryTable" [value]="itemCategory.itemCategoryId">
                  {{itemCategory.itemCategoryName}}
                </mat-option>
              </mat-select>
              <mat-form-field class="example-full-width">
                <input matInput name="itemCategoryName" type="text" class="form-control" placeholder="Item Name"
                  aria-label="Item Name" [(ngModel)]="itemName" required>
              </mat-form-field>
              <input style="margin-top: 12px;" name="itemCategoryName" value="Add Item" type="submit"
                class="btn btn-primary btn-block navColor" (click)="addItem($event)">
            </mat-tab>
            <mat-tab>
              <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon">delete_forever</mat-icon>
                Delete Item
              </ng-template>
              <div class="emptyDiv">

              </div>
              <mat-select class="form-control" name="itemCategory" [formControl]="itemCategoryFormControl"
                [(value)]="itemCategoryId">
                <mat-option *ngFor="let itemCategory of itemCategoryTable" [value]="itemCategory.itemCategoryId">
                  {{itemCategory.itemCategoryName}}
                </mat-option>
              </mat-select>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Item Name" aria-label="Item Name" [matAutocomplete]="auto"
                  [formControl]="itemControl" required>
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="getDisplayName.bind(this)">
                  <mat-option *ngFor="let item of filteredItems | async" [value]="item.itemId">
                    <span>{{item.itemName}}</span>
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
              <input style="margin-top: 12px;" name="itemCategoryName" value="Delete Item" type="submit"
                class="btn btn-primary btn-block navColor" (click)="deleteItem($event)">
            </mat-tab>
          </mat-tab-group>
        </div>
      </form>
    </section>
  </section>
</section>