<h1 mat-dialog-title>Customer Information</h1>
<div mat-dialog-content>
  <p>Please Enter Customer Name to proceed.</p>
  <mat-form-field>
    <mat-label>Customer Name</mat-label>
    <input matInput [(ngModel)]="data.customerName" required>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="primary"  (click)="onClose(true)" cdkFocusInitial>Proceed</button> 
  <button mat-raised-button color="accent"  (click)="onClose(false)">Back</button> 
</div>