/* You can add global styles to this file, and also import other style files */
.navColor{
    background-color: #003366;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


a{
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

/* width */
::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:#3f51b5;
    border-radius: 10px;
  }