<div mat-dialog-content>
  <mat-label>{{data.content}}</mat-label>
</div>
<div mat-dialog-actions align="center">
  <button mat-raised-button color="primary" [mat-dialog-close]="true" cdkFocusInitial>OK</button>
</div>