<div class="example-container" [class.example-is-mobile]="mobileQuery.matches" *ngIf="shouldRun">
  <mat-toolbar color="primary" class="example-toolbar">
    <mat-toolbar-row>
      <button mat-icon-button (click)="snav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <h1 class="example-app-name">Sornambigai</h1>
      <span class="example-spacer"></span>
      <button matTooltip="Logout" mat-icon-button color="warn" (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="over" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>
        <a mat-list-item routerLink="{{'/home/'+nav.navLink}}" (click)="navigateToPage($event)"
          *ngFor="let nav of fillerNav">{{nav.navName}}</a>
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Bill Management
              </mat-panel-title>
            </mat-expansion-panel-header>
            <a mat-list-item routerLink="/home/calculateBill">Calculate Bill</a>
            <a mat-list-item routerLink="/home/viewBills">View Bills</a>
            <a mat-list-item routerLink="/home/updatePrice">Update Price</a>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="applyBackground">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>